* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* styling header */

.heading {
  border: 2px red dotted;
  display: flex;
  justify-content: space-around;
}

.left img {
  width: 100px;
  margin-left: 50px;
}

.middle {
padding-top: 20px;
text-align: center;
margin-left: 310px;
}

.right {
  border: 2px blue dotted;
  display:flex;
  align-items: center;
  width: 400px;
  justify-content: space-around;
  margin-left: 200px;
}

/* styling main page */

.mainpage {
  margin: 50px 270px 300px 270px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 30px 50px;
}

.carte {
  border: 2px dotted black;
}

.carte img {
  width: 100%;
  text-align: center;
}

.image-carte {
  display: flex;
  justify-content: center;
}

.carte-gant {
  margin-top: 100px;
}

.button {
  display: flex;
  align-items: center;
}

.price {
  display: flex;
  justify-content: space-between;
}

.infos-gant {
  margin-top: 85px;
}

