* {
  margin:0;
  padding:0;
  box-sizing: border-box;
}

/* Heading style */

.all-page {
  margin-bottom: 500px;
}

.header {
  display: flex;
  border: 2px solid black;
}

.left {
  margin-left: 100px;
}

.logo-page {
  width: 100px;
}

.middle {
  margin-left: 400px;
  padding-top: 15px;
  text-align: center;
  line-height: 40px;

}

/* styling cartes produits */

.main-page {
  display: grid;
  grid-template-columns: 300px 300px 300px;
  gap: 70px 50px;
  margin-bottom: 100px;
  margin-top: 100px;
  column-gap: 50px;
  justify-content: center;
}

.carte {
  border: 2px solid grey;
  text-align: center;
  }

.produit1 {
  width:150px;
}

.price {
  display: flex;
  justify-content: center;
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 80px;
  margin-left: auto;
}

.add-cart {
  width: 120px;
  height: 30px;
  background-color: rgb(0, 145, 255);
  font-weight: bold;
  color: rgba(255, 255, 255, 0.933);
}

/* styling cart */

.cart-title h1 {
  margin-bottom: 50px;
  margin-left: 710px;
  width: 70px;
  border-bottom: 2px green solid;
}


.all-cart {
  margin: 50px 100px 150px 100px;
}

.item-infos {
  display: flex;
}

.image-and-title {
  display: flex;
}
.column-title {
  margin-bottom: 50px;
  border-bottom: 2px grey solid;
}

.column-names {
  display: flex;
  justify-content: space-between;
  width: 1000px;
  margin-left: 170px;
  margin-bottom: 20px;
 
}
.cart-row {
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;
  border-bottom: 2px grey solid;
  
}

.cart-total {
  margin-right: 200px;
  text-align: end;
}

.total-price {
  font-weight: 300;
  margin-top: 10px;
}

.div-purchase {
  display: flex;
  justify-content: center;
}
.final-purchase {
  background-color: aqua;
  font-weight: bold;
  margin-top: 50px;
  width: 100px;
  height: 30px;
  
}



